/*-- scss:defaults --*/

/*-- define colors for later use --*/
$maingrey: #4e5a62;
$darker-primary-20: #8aae2e;
$body-color: #4e5a62;
$primary: #A7CE45;
$code-block-bg: #eaf3d2;
$code-bg: #eaf3d2;

/*-- scss:rules --*/